

<!DOCTYPE html>
<html>
<body>

<h1>Signup Form</h1>
<!--
    <div class="container">
        <label><b>Firstname</b></label>
        <input type="text" placeholder="Enter firstname" name="firstname" required>
        <label><b>Lastname</b></label>
        <input type="text" placeholder="Enter lastname" name="lastname" required>

        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        <label><b>Address</b></label>
        <input type="text" placeholder="Enter adress" name="address" required>
        <label><b>Mobilenumber</b></label>
        <input type="text" placeholder="Enter mobile number:9999999999" name="mobileno" required>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button (click)="compo()" class="signupbtn">Sign Up</button>
        </div>
    </div>
-->
<form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)" novalidate>
    <div class="container">
        <div class="form-group">
            <label><b>Firstname</b></label>
            <input type="text" class="form-control" ngModel  placeholder="Enter firstname" name="firstName"  required>
        </div>
        <div class="form-group">
            <label><b>Lastname</b></label>
            <input type="text" class="form-control" ngModel placeholder="Enter lastname" name="lastName" required>
        </div>
        <div class="form-group">
            <label><b>Email</b></label>
            <input type="text" class="form-control" ngModel placeholder="Enter Email" name="email" required>
        </div>
        <div class="form-group">
            <label><b>Password</b></label>
            <input type="password" class="form-control" ngModel placeholder="Enter Password" name="password" required>
        </div>
        <div class="form-group">
            <label><b>Repeat Password</b></label>
            <input type="password" class="form-control" ngModel  placeholder="Repeat Password" name="passwordRepeat" required>
        </div>
        <div class="form-group">
            <label><b>Address</b></label>
            <input type="text" class="form-control" ngModel placeholder="Enter adress" name="address" required>
        </div>
        <div class="form-group">
            <label><b>Mobilenumber</b></label>
            <input type="text" class="form-control" ngModel placeholder="Enter mobile number:9999999999" name="mobileno" required>
        </div>

        <div class="clearfix">
            <button type="reset" class="cancelbtn">Reset</button>
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>

</form>
</body>
</html>
