

.ddsmoothmenu ul{z-index:100;margin:0;padding:0;list-style-type:none}
.ddsmoothmenu ul li{position:relative;display:inline;float:left;overflow:hidden;}
.ddsmoothmenu ul li a{display:block;background-color: #11a286;color:#fff;font-size:15px;padding:0.9em;text-decoration:none}*
                                                                                                                           .ddsmoothmenu ul li a{display:block;background-color: #11a286;color:#fff;font-size:15px;padding:0.9em;text-decoration:none}*
                                                                                                                           html .ddsmoothmenu ul li a{display:inline-block}.ddsmoothmenu ul li a:link,.ddsmoothmenu ul li a:visited{color:#fff}.ddsmoothmenu ul li a.selected{/*background-image:url(images/me8.gif);*/background-image:url(images/me8.gif);color:#0b5849;/*border-top:2px solid orange;*/}.ddsmoothmenu ul li a:hover{/*background-image:url(images/me8.gif);*/background-color:#19bf9f;text-decoration:none}.ddsmoothmenu ul li ul{position:absolute;left:0;display:none;visibility:hidden}.ddsmoothmenu ul li ul li{display:list-item;float:none}.ddsmoothmenu ul li ul li ul{top:0}.ddsmoothmenu ul li ul li a{font:400 11px verdana;width:155px;margin:0;border-top-width:0;padding:3px;top:0}* html .ddsmoothmenu{height:0}.downarrowclass{position:absolute;top:9px;right:5px}.rightarrowclass{position:absolute;top:6px;right:5px}.ddshadow{position:absolute;left:0;top:0;width:0;height:0;background:silver}.toplevelshadow{opacity:.8}
.selection{
    font-size: 9pt;
    align-items: center;
    align-content: center;
    display:inline-block;
    width: 100px;
    height: 35px;
    padding-left: 100%;
}
