<h2>Top Rated Movies</h2>
<!--<table border="1"><tr><td>
    <div class="container">
<div class="grid grid-pad">
    <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
</div>
    </div>
</td>
</tr>
</table>-->
<table><tr><td>
    <div class="container">
        <div class="grid grid-pad">
            <a *ngFor="let movieloop of moviesList" (click)="onClickMovie(movieloop.id, movieloop.moviename, movieloop.movieImgPath)"   routerLinkActive="active" class="col-1-4">
                <div class="module movie">
                    <h4><img class="image" src="{{movieloop.movieImgPath}}"/></h4>

                </div>
            </a>
        </div>
    </div>
</td>
</tr>
</table>
<br>
<h2>Top Rated Tvshows</h2>
<table ><tr><td>
    <div class="container">
        <div class="grid grid-pad">
            <a *ngFor="let movieloop of moviesList"  [routerLink]="['/MovieDescription', movieloop.id]"  routerLinkActive="active" class="col-1-4">
                <div class="module hero">
                    <h4><img class="image" src="{{movieloop.movieImgPath}}"/></h4>
                </div>
            </a>
        </div>
    </div>
</td>
</tr>
</table>
<br>

<!--
<h3>Top Rated Tvshows</h3>
<table border="1"><tr><td>

    <div class="container">
        <div class="grid grid-pad">
            <a *ngFor="let hero of heroes"  [routerLink]="['/detail', hero.id]"  class="col-1-4">
                <div class="module hero">
                    <h4>{{hero.name}}</h4>
                </div>
            </a>
        </div>
    </div></td>
</tr>
</table>
-->

